In [73]:
import dash_core_components as dcc
print(dcc.__version__)

0.22.1

In [5]:
from dash.dependencies import Input, Output, State
dash.dependencies

In [ ]:
### dont get lost ###
########################
########################################################################################################################
########################################################################################################################
########################################################################################################################
########################################################################################################################

In [1]:
import io
import dash
from dash.dependencies import Input, Output, State
import dash_core_components as dcc
import dash_html_components as html
import dash_table_experiments as dt 
import json
import pandas as pd
import numpy as np
import plotly
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
import math 
import pandas as pd
report=pd.DataFrame({'creteria':['Accuracy','erreur I','erreurII' ,'AUC','CV ACU','AIC','som error']})
import base64
from sklearn import  metrics 
from sklearn.metrics import confusion_matrix
from sklearn import cross_validation
import matplotlib.pylab as plt
from sklearn.metrics import classification_report
import pickle
from sklearn.model_selection import train_test_split
from loremipsum import get_sentences
from sklearn.naive_bayes import BernoulliNB
from sklearn.ensemble import GradientBoostingClassifier  #GBM algorithm
from sklearn.neural_network import MLPClassifier
from sklearn.ensemble import RandomForestClassifier
import plotly.plotly as py
import plotly.graph_objs as go
from sklearn.feature_selection import RFE
df= pd.read_csv("C:/Users/DELL/Desktop/churnForReal.csv", sep=';', encoding = "ISO-8859-1")
x=df.drop(['subscriber_activation_date' ,'period_end','period_start', 'Flag_inactivite','subscriber_id' ],axis=1)
y=df['Flag_inactivite']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size =0.3 ,  stratify=y)

C:\Users\DELL\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning:

This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.

In [13]:
app = dash.Dash()
app.scripts.config.serve_locally=True
colors = {
    'background': '#f2f3f4',
    'text': '#ee0c35'
}

app.layout = html.Div(style={'backgroundColor': colors['background']},
    children=[
    html.H1(
        children='Ooreedoo',
        style={
                'textAlign': 'center',
                'color': colors['text']
            }
    ),

#########################################################################################################"        
####### model report 
        
        html.Div(children='Model Report', style={
            'fontSize':'25px',
            'textAlign': 'center',
            'color': colors['text']
        }),
        
        html.Div([
            html.Div([
                html.Div(children='model report', style={
                    'textAlign': 'center',
                }),                
                html.Button( 'Generate model report', id='report'),
                html.Div(dt.DataTable(rows=[{}], id='modelReport',row_selectable=True, filterable=True,
                sortable=True,column_widths=[100, 100], row_height=25,), style ={'align':"center"}),
                html.Br(),
                html.Button('Confusion Matrix',id='ButtonMatrix'),
                html.Div(dt.DataTable(rows=[{}], id='matrix',row_selectable=True, filterable=True,
                sortable=True,column_widths=[100, 100], row_height=25,)),
                html.Div('Note: the column represent the predicted and the row represent the actual'),
                
            ],className="six columns"),
            html.Div([
                html.Div(children='ROC Curve', style={
                    'textAlign': 'center',
                }),
                html.Button('Genrate ROC cuve', id='roc' ),
                dcc.Graph(id='my-graph'),                
            ],className="six columns"),

        ],className="row",
            style={
                'width': '80%',
                'borderStyle': 'solid',
                'borderRadius': '5px',
                'borderColor': '#e1e1d0',
                'backgroundColor' : '#e6f0ff',
                'position': 'static',
                'marginLeft': 'auto',
                'marginRight': 'auto',
                'left': 0,
                'right': 0
            }

            
        ), 
    ])
        
        
@app.callback(Output('modelReport', 'rows'),
              [Input('report', 'n_clicks'),
              Input('model', 'value'),])
def modelReport (button, mod): 
    if (button ==None):
        return [{}]
    else:

        if (mod == 'logreg'):
            Title='Logistic regression'
            logreg = LogisticRegression()
            logreg.fit(x_train,y_train)
            model=logreg
            with open("python_logreg_model.pkl", "wb") as file_handler:
                pickle.dump(logreg, file_handler)

        elif (mod =='mlp' ):
            mlp=MLPClassifier()
            mlp=mlp.fit(x_train, y_train)
            with open("python_mlp_model.pkl", "wb") as file_handler:
                pickle.dump(mlp, file_handler)
            model=mlp
        elif :
            .......#other models#
            
        ####------------###
        #### comput indicator to evaluate models ####
        ####------------###
            
        report=pd.DataFrame({'creteria':['Accuracy','erreur I','erreurII' ,'AUC','CV ACU','AIC','som error']})
        report['Value']=[model_score,fnr,fpr,AUC, cv_mean,AIC,RSS]
        return  report.to_dict('records')
#####################
@app.callback(Output('my-graph', 'figure'),
              [Input ('roc','n_clicks'),])

def RocPlot (button):
    if (button ==None):
        return [{}]
    else:
        if(mod == 'logreg'):
            with open("python_logreg_model.pkl", "rb") as file_handler:
                model = pickle.load(file_handler)
        elif (mod=='mlp' ):
            with open("python_mlp_model.pkl", "rb") as file_handler:
                model = pickle.load(file_handler)
        #### load other models ####
        ####------------###
        ####------------###
        fp, tp, threshold= metrics.roc_curve(y_test, model.predict_proba(x_test)[:,1])
        AUC= metrics.auc(fp, tp)
        lw = 2
        trace1 = go.Scatter(x=fp, y=tp, 
                            mode='lines', 
                            line=dict(color='darkorange', width=lw),
                            name='ROC curve (area = %0.2f)' % AUC )
        trace2 = go.Scatter(x=[0, 1], y=[0, 1], 
                            mode='lines', 
                            line=dict(color='navy', width=lw, dash='dash'),
                            showlegend=False)
        layout = go.Layout(title='Receiver operating characteristic example',
                            xaxis=dict(title='False Positive Rate'),
                            yaxis=dict(title='True Positive Rate'))
        print('plot done')
        return{ 'data': [trace1, trace2], 'layout': layout }
        
    
app.css.append_css({
    "external_url": "https://codepen.io/chriddyp/pen/bWLwgP.css"
})

if __name__ == '__main__':
    app.run_server(debug=False)

 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)
127.0.0.1 - - [26/May/2018 13:50:49] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [26/May/2018 13:50:49] "GET /_dash-component-suites/dash_renderer/react@15.4.2.min.js?v=0.12.1 HTTP/1.1" 200 -
127.0.0.1 - - [26/May/2018 13:50:49] "GET /_dash-component-suites/dash_renderer/react-dom@15.4.2.min.js?v=0.12.1 HTTP/1.1" 200 -
127.0.0.1 - - [26/May/2018 13:50:49] "GET /_dash-component-suites/dash_html_components/bundle.js?v=0.10.0 HTTP/1.1" 200 -
127.0.0.1 - - [26/May/2018 13:50:49] "GET /_dash-component-suites/dash_table_experiments/bundle.js?v=0.6.0 HTTP/1.1" 200 -
127.0.0.1 - - [26/May/2018 13:50:49] "GET /_dash-component-suites/dash_core_components/plotly-1.31.0.min.js?v=0.15.0rc1 HTTP/1.1" 200 -
127.0.0.1 - - [26/May/2018 13:50:49] "GET /_dash-component-suites/dash_core_components/bundle.js?v=0.15.0rc1 HTTP/1.1" 200 -
127.0.0.1 - - [26/May/2018 13:50:49] "GET /_dash-component-suites/dash_renderer/bundle.js?v=0.12.1 HTTP/1.1" 200 -
127.0.0.1 - - [26/May/2018 13:50:51] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [26/May/2018 13:50:51] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [26/May/2018 13:50:51] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [26/May/2018 13:50:51] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [26/May/2018 13:50:57] "POST /_dash-update-component HTTP/1.1" 200 -

Reopret done successflly

127.0.0.1 - - [26/May/2018 13:51:03] "POST /_dash-update-component HTTP/1.1" 200 -

random model loaded for plot
plot done

127.0.0.1 - - [26/May/2018 13:51:21] "POST /_dash-update-component HTTP/1.1" 200 -

Reopret done successflly

127.0.0.1 - - [26/May/2018 13:51:25] "POST /_dash-update-component HTTP/1.1" 200 -

Reopret done successflly

127.0.0.1 - - [26/May/2018 13:51:27] "POST /_dash-update-component HTTP/1.1" 200 -

Reopret done successflly

127.0.0.1 - - [26/May/2018 13:51:29] "POST /_dash-update-component HTTP/1.1" 200 -

Reopret done successflly

127.0.0.1 - - [26/May/2018 13:51:31] "POST /_dash-update-component HTTP/1.1" 200 -

Reopret done successflly

127.0.0.1 - - [26/May/2018 13:51:34] "POST /_dash-update-component HTTP/1.1" 200 -

random model loaded for plot
plot done

127.0.0.1 - - [26/May/2018 13:51:37] "POST /_dash-update-component HTTP/1.1" 200 -

random model loaded for plot
plot done

127.0.0.1 - - [26/May/2018 13:51:38] "POST /_dash-update-component HTTP/1.1" 200 -

random model loaded for plot
plot done

[2018-05-26 13:55:59,861] ERROR in app: Exception on /_dash-update-component [POST]
Traceback (most recent call last):
  File "C:\Users\DELL\Anaconda3\lib\site-packages\flask\app.py", line 1982, in wsgi_app
    response = self.full_dispatch_request()
  File "C:\Users\DELL\Anaconda3\lib\site-packages\flask\app.py", line 1614, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "C:\Users\DELL\Anaconda3\lib\site-packages\flask\app.py", line 1517, in handle_user_exception
    reraise(exc_type, exc_value, tb)
  File "C:\Users\DELL\Anaconda3\lib\site-packages\flask\_compat.py", line 33, in reraise
    raise value
  File "C:\Users\DELL\Anaconda3\lib\site-packages\flask\app.py", line 1612, in full_dispatch_request
    rv = self.dispatch_request()
  File "C:\Users\DELL\Anaconda3\lib\site-packages\flask\app.py", line 1598, in dispatch_request
    return self.view_functions[rule.endpoint](**req.view_args)
  File "C:\Users\DELL\Anaconda3\lib\site-packages\dash\dash.py", line 542, in dispatch
    for component_registration in self.callback_map[target_id]['inputs']:
KeyError: 'predict.rows'
127.0.0.1 - - [26/May/2018 13:55:59] "POST /_dash-update-component HTTP/1.1" 500 -
[2018-05-26 13:56:01,390] ERROR in app: Exception on /_dash-update-component [POST]
Traceback (most recent call last):
  File "C:\Users\DELL\Anaconda3\lib\site-packages\flask\app.py", line 1982, in wsgi_app
    response = self.full_dispatch_request()
  File "C:\Users\DELL\Anaconda3\lib\site-packages\flask\app.py", line 1614, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "C:\Users\DELL\Anaconda3\lib\site-packages\flask\app.py", line 1517, in handle_user_exception
    reraise(exc_type, exc_value, tb)
  File "C:\Users\DELL\Anaconda3\lib\site-packages\flask\_compat.py", line 33, in reraise
    raise value
  File "C:\Users\DELL\Anaconda3\lib\site-packages\flask\app.py", line 1612, in full_dispatch_request
    rv = self.dispatch_request()
  File "C:\Users\DELL\Anaconda3\lib\site-packages\flask\app.py", line 1598, in dispatch_request
    return self.view_functions[rule.endpoint](**req.view_args)
  File "C:\Users\DELL\Anaconda3\lib\site-packages\dash\dash.py", line 542, in dispatch
    for component_registration in self.callback_map[target_id]['inputs']:
KeyError: 'matrix.rows'
127.0.0.1 - - [26/May/2018 13:56:01] "POST /_dash-update-component HTTP/1.1" 500 -
127.0.0.1 - - [26/May/2018 13:56:02] "POST /_dash-update-component HTTP/1.1" 200 -

Reopret done successflly

127.0.0.1 - - [26/May/2018 13:56:03] "POST /_dash-update-component HTTP/1.1" 200 -

random model loaded for plot
plot done

[2018-05-26 13:56:36,381] ERROR in app: Exception on /_dash-update-component [POST]
Traceback (most recent call last):
  File "C:\Users\DELL\Anaconda3\lib\site-packages\flask\app.py", line 1982, in wsgi_app
    response = self.full_dispatch_request()
  File "C:\Users\DELL\Anaconda3\lib\site-packages\flask\app.py", line 1614, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "C:\Users\DELL\Anaconda3\lib\site-packages\flask\app.py", line 1517, in handle_user_exception
    reraise(exc_type, exc_value, tb)
  File "C:\Users\DELL\Anaconda3\lib\site-packages\flask\_compat.py", line 33, in reraise
    raise value
  File "C:\Users\DELL\Anaconda3\lib\site-packages\flask\app.py", line 1612, in full_dispatch_request
    rv = self.dispatch_request()
  File "C:\Users\DELL\Anaconda3\lib\site-packages\flask\app.py", line 1598, in dispatch_request
    return self.view_functions[rule.endpoint](**req.view_args)
  File "C:\Users\DELL\Anaconda3\lib\site-packages\dash\dash.py", line 542, in dispatch
    for component_registration in self.callback_map[target_id]['inputs']:
KeyError: 'predict.rows'
127.0.0.1 - - [26/May/2018 13:56:36] "POST /_dash-update-component HTTP/1.1" 500 -
127.0.0.1 - - [26/May/2018 13:56:39] "POST /_dash-update-component HTTP/1.1" 200 -

Reopret done successflly

127.0.0.1 - - [26/May/2018 13:56:39] "POST /_dash-update-component HTTP/1.1" 200 -

random model loaded for plot
plot done

[2018-05-26 13:56:40,234] ERROR in app: Exception on /_dash-update-component [POST]
Traceback (most recent call last):
  File "C:\Users\DELL\Anaconda3\lib\site-packages\flask\app.py", line 1982, in wsgi_app
    response = self.full_dispatch_request()
  File "C:\Users\DELL\Anaconda3\lib\site-packages\flask\app.py", line 1614, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "C:\Users\DELL\Anaconda3\lib\site-packages\flask\app.py", line 1517, in handle_user_exception
    reraise(exc_type, exc_value, tb)
  File "C:\Users\DELL\Anaconda3\lib\site-packages\flask\_compat.py", line 33, in reraise
    raise value
  File "C:\Users\DELL\Anaconda3\lib\site-packages\flask\app.py", line 1612, in full_dispatch_request
    rv = self.dispatch_request()
  File "C:\Users\DELL\Anaconda3\lib\site-packages\flask\app.py", line 1598, in dispatch_request
    return self.view_functions[rule.endpoint](**req.view_args)
  File "C:\Users\DELL\Anaconda3\lib\site-packages\dash\dash.py", line 542, in dispatch
    for component_registration in self.callback_map[target_id]['inputs']:
KeyError: 'matrix.rows'
127.0.0.1 - - [26/May/2018 13:56:40] "POST /_dash-update-component HTTP/1.1" 500 -
127.0.0.1 - - [26/May/2018 14:03:44] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [26/May/2018 14:03:44] "GET /_dash-component-suites/dash_renderer/react@15.4.2.min.js?v=0.12.1 HTTP/1.1" 200 -
127.0.0.1 - - [26/May/2018 14:03:44] "GET /_dash-component-suites/dash_table_experiments/bundle.js?v=0.6.0 HTTP/1.1" 200 -
127.0.0.1 - - [26/May/2018 14:03:44] "GET /_dash-component-suites/dash_core_components/plotly-1.31.0.min.js?v=0.15.0rc1 HTTP/1.1" 200 -
127.0.0.1 - - [26/May/2018 14:03:44] "GET /_dash-component-suites/dash_core_components/bundle.js?v=0.15.0rc1 HTTP/1.1" 200 -
127.0.0.1 - - [26/May/2018 14:03:44] "GET /_dash-component-suites/dash_renderer/bundle.js?v=0.12.1 HTTP/1.1" 200 -
127.0.0.1 - - [26/May/2018 14:03:44] "GET /_dash-component-suites/dash_renderer/react-dom@15.4.2.min.js?v=0.12.1 HTTP/1.1" 200 -
127.0.0.1 - - [26/May/2018 14:03:44] "GET /_dash-component-suites/dash_html_components/bundle.js?v=0.10.0 HTTP/1.1" 200 -
127.0.0.1 - - [26/May/2018 14:03:46] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [26/May/2018 14:03:46] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [26/May/2018 14:03:46] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [26/May/2018 14:03:46] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [26/May/2018 14:04:34] "POST /_dash-update-component HTTP/1.1" 200 -

Reopret done successflly

127.0.0.1 - - [26/May/2018 14:05:19] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [26/May/2018 14:05:19] "GET /_dash-component-suites/dash_renderer/react@15.4.2.min.js?v=0.12.1 HTTP/1.1" 200 -
127.0.0.1 - - [26/May/2018 14:05:19] "GET /_dash-component-suites/dash_renderer/react-dom@15.4.2.min.js?v=0.12.1 HTTP/1.1" 200 -
127.0.0.1 - - [26/May/2018 14:05:19] "GET /_dash-component-suites/dash_html_components/bundle.js?v=0.10.0 HTTP/1.1" 200 -
127.0.0.1 - - [26/May/2018 14:05:19] "GET /_dash-component-suites/dash_table_experiments/bundle.js?v=0.6.0 HTTP/1.1" 200 -
127.0.0.1 - - [26/May/2018 14:05:19] "GET /_dash-component-suites/dash_core_components/plotly-1.31.0.min.js?v=0.15.0rc1 HTTP/1.1" 200 -
127.0.0.1 - - [26/May/2018 14:05:19] "GET /_dash-component-suites/dash_core_components/bundle.js?v=0.15.0rc1 HTTP/1.1" 200 -
127.0.0.1 - - [26/May/2018 14:05:19] "GET /_dash-component-suites/dash_renderer/bundle.js?v=0.12.1 HTTP/1.1" 200 -
127.0.0.1 - - [26/May/2018 14:05:23] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [26/May/2018 14:05:23] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [26/May/2018 14:05:23] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [26/May/2018 14:05:23] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [26/May/2018 14:05:30] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [26/May/2018 14:05:30] "GET /_dash-component-suites/dash_renderer/react@15.4.2.min.js?v=0.12.1 HTTP/1.1" 200 -
127.0.0.1 - - [26/May/2018 14:05:30] "GET /_dash-component-suites/dash_renderer/react-dom@15.4.2.min.js?v=0.12.1 HTTP/1.1" 200 -
127.0.0.1 - - [26/May/2018 14:05:31] "GET /_dash-component-suites/dash_html_components/bundle.js?v=0.10.0 HTTP/1.1" 200 -
127.0.0.1 - - [26/May/2018 14:05:31] "GET /_dash-component-suites/dash_table_experiments/bundle.js?v=0.6.0 HTTP/1.1" 200 -
127.0.0.1 - - [26/May/2018 14:05:31] "GET /_dash-component-suites/dash_core_components/plotly-1.31.0.min.js?v=0.15.0rc1 HTTP/1.1" 200 -
127.0.0.1 - - [26/May/2018 14:05:31] "GET /_dash-component-suites/dash_core_components/bundle.js?v=0.15.0rc1 HTTP/1.1" 200 -
127.0.0.1 - - [26/May/2018 14:05:31] "GET /_dash-component-suites/dash_renderer/bundle.js?v=0.12.1 HTTP/1.1" 200 -

SyntaxError: invalid syntax (<ipython-input-2-e45c737017dc>, line 361)

IndentationError: unexpected indent (<ipython-input-24-b9ee79ba1cb5>, line 4)

In [45]:

        if (mod == 'logreg'):
            Title='Logistic regression'
            logreg = LogisticRegression()
            logreg.fit(x_train,y_train)
            model=logreg
            with open("python_logreg_model.pkl", "wb") as file_handler:
                pickle.dump(logreg, file_handler)

        elif (mod =='mlp' ):
            mlp=MLPClassifier()
            mlp=mlp.fit(x_train, y_train)
            with open("python_mlp_model.pkl", "wb") as file_handler:
                pickle.dump(mlp, file_handler)
            model=mlp
        elif :
            .......#other models#

In [67]:
####################### var selction####################"
@app.callback(Output('seuilOut','children'),
              [Input('seuil','value')])
def seuil_output(value):
    return 'You have selected "{}" %'.format(value)
@app.callback(Output('tableBestFeat', 'rows'),
              [Input('table', 'rows'),
               Input('selectVar', 'value'),
               Input('modelRFE', 'value'),
               Input('seuil', 'value'),
               Input('buttonSelect','n_clicks'),
               Input('dropdownX', 'value'),
               Input('dropdownY', 'value'),
               Input('echSplit', 'value'),
               Input ('selectAll', 'value'),
               Input ('subs', 'value'),
              ])
def FeaturesSelection (table,selectVar,modelRFE,seuil,buttonSelect,xvar, yvar, ech,selectAll,subs):
    if (buttonSelect==None): 
        return [{}]
    else:
        df =  pd.DataFrame(table)
        if (selectAll== 'all') :
            x=df.drop([yvar,subs], axis=1)
            print('selected all var ')
        else : 
            x=df[xvar]
            print('not  all var ')


        y=df[yvar]
        y=np.ravel(y)
        if (selectVar=='RFE'): 
            if(modelRFE=='gbm'): model=GradientBoostingClassifier(n_estimators=10)
            if(modelRFE=='random'):model=RandomForestClassifier(n_estimators=10)

            if(modelRFE=='logreg'):model=BernoulliNB()
            if(modelRFE=='bays'):model=LogisticRegression()
            rfe=RFE(model)
            fit = rfe.fit(x,y)
            data={'Features':x.columns, 'Selected': fit.support_, 'Rank' : fit.ranking_}
            selectedTable=pd.DataFrame(data)

        else: 
            selectedTable=correlation(x,seuil)
            
        return selectedTable.to_dict('records')
def correlation(dataset, threshold):
    col_corr = set() # Set of all the names of deleted columns
    corr_matrix = dataset.corr()
    for i in range(len(corr_matrix.columns)):
        for j in range(i):
            if corr_matrix.iloc[i, j] >= threshold:
                colname = corr_matrix.columns[i] # getting the name of column
                col_corr.add(colname)
                if colname in dataset.columns:
                    del dataset[colname] # deleting the column from the dataset
                corrMatrix=dataset.corr()

    return (corrMatrix)

@app.callback(Output('resultSelection', 'children'),
              [
               Input('table', 'rows'),
               Input('selectVar', 'value'),
               Input('modelRFE', 'value'),
               Input('seuil', 'value'),
               Input('buttonSelect','n_clicks'),
               Input('dropdownX', 'value'),
               Input('dropdownY', 'value'),
               Input('echSplit', 'value'),
               Input ('selectAll', 'value'),
               Input ('subs', 'value'),
              ])
              
def resultSelect(table,selectVar,modelRFE,seuil,buttonSelect,
                 xvar, yvar, ech,selectAll,subs):
    if (buttonSelect==None): 
        return [{}]
    else:
        df =  pd.DataFrame(table)
        if (selectAll== 'all') :
            x=df.drop([yvar,subs], axis=1)
            print('selected all var ')
        else : 
            x=df[xvar]
            print('not  all var ')


        y=df[yvar]
        y=np.ravel(y)
        if (selectVar=='RFE'): 
            if(modelRFE=='gbm'): model=GradientBoostingClassifier(n_estimators=10)
            if(modelRFE=='random'):model=RandomForestClassifier(n_estimators=10)
            if(modelRFE=='logreg'):model=BernoulliNB()
            if(modelRFE=='bays'):model=LogisticRegression()
            rfe=RFE(model)
            fit = rfe.fit(x,y)
            data={'Features':x.columns, 'Selected': fit.support_, 'Rank' : fit.ranking_}
            selectedTable=pd.DataFrame(data)

        else: 
            selectedTable=correlation(x,seuil)
        n=df.shape[1]
        nselect=selectedTable.shape[1]
    return ' "{}"% features has been selected among "{}"%'.format(nselect,n)

In [68]:
xtab

           2         1
0   0.000000  0.000000
1   0.052966  0.007530
2   0.055085  0.007530
3   0.055085  0.008283
4   0.057203  0.008283
5   0.063559  0.009789
6   0.065678  0.009789
7   0.067797  0.012048
8   0.082627  0.014307
9   0.084746  0.014307
10  0.095339  0.015813
11  0.095339  0.016566
12  0.112288  0.017319
13  0.112288  0.018072
14  0.135593  0.019578
15  0.154661  0.022590
16  0.158898  0.022590
17  0.158898  0.023343
18  0.167373  0.024849
19  0.169492  0.025602
20  0.182203  0.030120
21  0.186441  0.030120
22  0.188559  0.030120
23  0.213983  0.036145
24  0.213983  0.036898
25  0.239407  0.045934
26  0.241525  0.045934
27  0.247881  0.045934
28  0.273305  0.064759
29  0.273305  0.067018
30  0.275424  0.067018
31  0.277542  0.069277
32  0.328390  0.087349
33  0.334746  0.087349
34  0.379237  0.103916
35  0.379237  0.105422
36  0.449153  0.135542
37  0.451271  0.135542
38  0.453390  0.136295
39  0.500000  0.178464
40  0.500000  0.179217
41  0.555085  0.220633
42  0.557203  0.220633
43  0.652542  0.274849
44  0.739407  0.367470
45  0.802966  0.472139
46  0.805085  0.472139
47  0.879237  0.599398
48  0.881356  0.599398
49  0.944915  0.763554
50  0.974576  0.904367
51  0.976695  0.904367
52  1.000000  1.000000

In [60]:
df

,subscriber_id,subscriber_activation_date,period_end,period_start,nb_contacted_in_w1,nb_contacted_out_w1,mnt_recharge_w1,mou_out_w1,mou_out_onnet_w1,nb_days_used_data_w1,...,mou_out_onnet_w4,nb_days_used_data_w4,nb_days_used_sms_w4,nb_days_used_voice_w4,nb_recharge_w4,nb_sms_out_w4,nb_sms_out_onnet_w4,volume_data_w4,tenure,Flag_inactivite
0,2141791747,07JUL2017:00:00:00.000000,31DEC2017:00:00:00.000000,03DEC2017:00:00:00.000000,17,20,5.000,63.000000,27.000000,7,...,113.000000,7,6,7,4,73,0,500.675781,5,0
1,2141982312,02AUG2017:00:00:00.000000,31DEC2017:00:00:00.000000,03DEC2017:00:00:00.000000,7,6,7.000,207.500000,207.500000,4,...,167.250000,1,3,7,4,5,0,10.302734,4,0
2,2142002199,25JUL2017:00:00:00.000000,31DEC2017:00:00:00.000000,03DEC2017:00:00:00.000000,38,32,4.909,165.250000,150.250000,4,...,118.500000,7,3,7,6,8,7,147.158203,5,0
3,2142040143,10JUL2017:00:00:00.000000,31DEC2017:00:00:00.000000,03DEC2017:00:00:00.000000,19,19,1.000,32.000000,13.000000,6,...,29.000000,6,4,6,2,6,2,257.011719,5,0
4,2142094711,11AUG2017:00:00:00.000000,31DEC2017:00:00:00.000000,03DEC2017:00:00:00.000000,6,3,1.000,1.000000,1.000000,0,...,0.000000,0,0,0,0,0,0,0.000000,4,0
5,2142106374,09JUL2017:00:00:00.000000,31DEC2017:00:00:00.000000,03DEC2017:00:00:00.000000,11,9,19.997,17.000000,14.000000,7,...,23.500000,7,7,6,8,14,0,1107.099609,5,0
6,2142106506,31JUL2017:00:00:00.000000,31DEC2017:00:00:00.000000,03DEC2017:00:00:00.000000,16,10,1.000,28.500000,17.500000,1,...,148.000000,0,5,6,1,12,8,0.000000,5,0
7,2142127119,18JUL2017:00:00:00.000000,31DEC2017:00:00:00.000000,03DEC2017:00:00:00.000000,2,0,0.000,0.000000,0.000000,0,...,28.000000,7,0,7,1,0,0,1300.574219,5,0
8,2142128188,29JUL2017:00:00:00.000000,31DEC2017:00:00:00.000000,03DEC2017:00:00:00.000000,7,8,3.000,44.000000,33.000000,7,...,17.000000,7,3,5,3,6,0,514.061523,5,0
9,2142141674,22JUL2017:00:00:00.000000,31DEC2017:00:00:00.000000,03DEC2017:00:00:00.000000,2,2,0.000,5.000000,5.000000,0,...,191.000000,7,5,7,8,21,0,39.503906,5,1
10,2142204147,17AUG2017:00:00:00.000000,31DEC2017:00:00:00.000000,03DEC2017:00:00:00.000000,4,6,1.000,14.500000,7.500000,1,...,8.000000,0,2,3,2,2,0,0.000000,4,0
11,2142255914,08JUL2017:00:00:00.000000,31DEC2017:00:00:00.000000,03DEC2017:00:00:00.000000,14,17,11.000,282.500000,113.500000,7,...,110.000000,7,6,7,4,14,2,907.907227,5,1
12,2142263910,01SEP2017:00:00:00.000000,31DEC2017:00:00:00.000000,03DEC2017:00:00:00.000000,3,1,0.000,0.000000,0.000000,6,...,0.000000,0,0,0,0,0,0,0.000000,3,1
13,2142279095,11AUG2017:00:00:00.000000,31DEC2017:00:00:00.000000,03DEC2017:00:00:00.000000,7,8,2.000,45.000000,17.000000,4,...,67.000000,7,4,7,4,17,6,102.000000,4,0
14,2142309688,08JUL2017:00:00:00.000000,31DEC2017:00:00:00.000000,03DEC2017:00:00:00.000000,8,10,2.000,50.000000,33.000000,7,...,11.500000,7,1,4,1,1,0,60.073242,5,1
15,2142331834,31AUG2017:00:00:00.000000,31DEC2017:00:00:00.000000,03DEC2017:00:00:00.000000,10,6,1.818,24.500000,4.000000,1,...,1.000000,1,1,1,1,7,1,12.198242,4,0
16,2142340552,03SEP2017:00:00:00.000000,31DEC2017:00:00:00.000000,03DEC2017:00:00:00.000000,9,5,1.000,31.500000,4.500000,0,...,22.000000,0,3,6,1,4,3,0.000000,3,0
17,2142353760,03JUL2017:00:00:00.000000,31DEC2017:00:00:00.000000,03DEC2017:00:00:00.000000,18,14,5.000,51.750000,26.750000,7,...,20.000000,7,3,7,4,9,3,507.285156,5,0
18,2142383268,10JUL2017:00:00:00.000000,31DEC2017:00:00:00.000000,03DEC2017:00:00:00.000000,13,6,1.000,19.500000,14.500000,0,...,48.000000,0,0,7,2,0,0,0.000000,5,0
19,2142385416,01SEP2017:00:00:00.000000,31DEC2017:00:00:00.000000,03DEC2017:00:00:00.000000,20,19,10.000,367.000000,311.000000,7,...,261.000000,7,7,7,7,30,20,1284.739258,3,0
20,2142391579,08JUL2017:00:00:00.000000,31DEC2017:00:00:00.000000,03DEC2017:00:00:00.000000,1,0,0.000,0.000000,0.000000,0,...,2.000000,0,0,2,0,0,0,0.000000,5,1
21,2142395044,12AUG2017:00:00:00.000000,31DEC2017:00:00:00.000000,03DEC2017:00:00:00.000000,6,6,0.909,43.000000,11.000000,4,...,27.500000,0,0,6,3,0,0,0.000000,4,0
22,2142424168,08SEP2017:00:00:00.000000,31DEC2017:00:00:00.000000,03DEC2017:00:00:00.000000,12,14,2.000,52.000000,25.000000,0,...,52.500000,0,4,7,3,12,12,0.000000,3,0
23,2142447845,22JUL2017:00:00:00.000000,31DEC2017:00:00:00.000000,03DEC2017:00:00:00.000000,23,12,5.000,81.000000,16.000000,7,...,17.500000,7,2,7,3,2,0,580.766602,5,0
24,2142461264,03JUL2017:00:00:00.000000,31DEC2017:00:00:00.000000,03DEC2017:00:00:00.000000,3,0,0.000,0.000000,0.000000,0,...,0.000000,0,0,0,0,0,0,0.000000,5,1
25,2142467045,04JUL2017:00:00:00.000000,31DEC2017:00:00:00.000000,03DEC2017:00:00:00.000000,7,7,0.000,12.250000,10.250000,5,...,118.500000,7,6,7,6,8,2,1495.361328,5,0
26,2142480128,27JUL2017:00:00:00.000000,31DEC2017:00:00:00.000000,03DEC2017:00:00:00.000000,7,5,1.000,23.000000,16.000000,7,...,1010.000000,7,6,6,2,10,8,72.290039,5,0
27,2142490789,25JUL2017:00:00:00.000000,31DEC2017:00:00:00.000000,03DEC2017:00:00:00.000000,1,0,0.000,0.000000,0.000000,0,...,25.500000,7,2,4,1,2,1,229.741211,5,0
28,2142493404,17JUL2017:00:00:00.000000,31DEC2017:00:00:00.000000,03DEC2017:00:00:00.000000,4,2,0.000,84.616667,84.616667,0,...,171.150000,0,0,7,0,0,0,0.000000,5,0
29,2142504282,04AUG2017:00:00:00.000000,31DEC2017:00:00:00.000000,03DEC2017:00:00:00.000000,7,6,0.000,24.383333,24.383333,0,...,25.700000,0,0,7,0,0,0,0.000000,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5970,2144855101,30NOV2017:13:37:20.000000,31DEC2017:00:00:00.000000,03DEC2017:00:00:00.000000,14,11,0.000,29.000000,10.000000,0,...,5.083333,7,2,7,1,4,3,1041.504883,1,0
5971,2144855207,30NOV2017:00:00:00.000000,31DEC2017:00:00:00.000000,03DEC2017:00:00:00.000000,4,7,50.000,205.000000,1.000000,0,...,0.000000,0,0,0,0,0,0,0.000000,1,0
5972,2144855628,30NOV2017:00:00:00.000000,31DEC2017:00:00:00.000000,03DEC2017:00:00:00.000000,2,2,1.000,2.500000,2.500000,0,...,2.000000,0,0,1,0,0,0,0.000000,1,1
5973,2144855739,30NOV2017:00:00:00.000000,31DEC2017:00:00:00.000000,03DEC2017:00:00:00.000000,21,18,4.909,128.000000,92.000000,6,...,7.500000,4,4,6,2,31,27,656.489258,1,0
5974,2144857305,30NOV2017:00:00:00.000000,31DEC2017:00:00:00.000000,03DEC2017:00:00:00.000000,13,11,6.000,76.500000,27.500000,5,...,40.000000,6,4,7,3,5,2,1473.242188,1,0
5975,2144858133,30NOV2017:00:00:00.000000,31DEC2017:00:00:00.000000,03DEC2017:00:00:00.000000,3,2,6.363,0.000000,0.000000,3,...,0.000000,0,0,0,0,0,0,0.000000,1,1
5976,2144858931,30NOV2017:00:00:00.000000,31DEC2017:00:00:00.000000,03DEC2017:00:00:00.000000,9,8,5.000,59.000000,12.000000,7,...,0.000000,0,2,0,1,7,7,0.000000,1,0
5977,2144859948,30NOV2017:00:00:00.000000,31DEC2017:00:00:00.000000,03DEC2017:00:00:00.000000,7,9,5.000,54.000000,3.000000,0,...,4.000000,0,0,5,0,0,0,0.000000,1,1
5978,2144860104,30NOV2017:00:00:00.000000,31DEC2017:00:00:00.000000,03DEC2017:00:00:00.000000,1,0,0.000,0.000000,0.000000,0,...,4.000000,6,0,6,0,0,0,132.321289,1,0
5979,2144860340,30NOV2017:00:00:00.000000,31DEC2017:00:00:00.000000,03DEC2017:00:00:00.000000,17,21,8.000,466.000000,435.000000,0,...,158.500000,0,2,4,1,6,4,0.000000,1,0
5980,2144860346,30NOV2017:00:00:00.000000,31DEC2017:00:00:00.000000,03DEC2017:00:00:00.000000,8,5,5.000,50.000000,47.000000,0,...,3.500000,0,0,3,0,0,0,0.000000,1,0
5981,2144860727,30NOV2017:00:00:00.000000,31DEC2017:00:00:00.000000,03DEC2017:00:00:00.000000,17,13,5.818,281.500000,279.500000,7,...,218.000000,7,4,7,2,9,8,267.585938,1,0
5982,2144861222,30NOV2017:00:00:00.000000,31DEC2017:00:00:00.000000,03DEC2017:00:00:00.000000,31,27,10.000,230.500000,49.500000,7,...,485.500000,7,6,7,12,36,4,308.811523,1,0
5983,2144861230,30NOV2017:00:00:00.000000,31DEC2017:00:00:00.000000,03DEC2017:00:00:00.000000,2,0,0.000,0.000000,0.000000,0,...,3.000000,0,0,3,0,0,0,0.000000,1,1
5984,2144861489,30NOV2017:00:00:00.000000,31DEC2017:00:00:00.000000,03DEC2017:00:00:00.000000,9,5,0.000,29.000000,10.000000,1,...,78.000000,2,1,7,1,1,1,13.000000,1,1
5985,2144862041,30NOV2017:00:00:00.000000,31DEC2017:00:00:00.000000,03DEC2017:00:00:00.000000,14,15,4.000,60.000000,47.000000,4,...,10.000000,4,2,6,2,3,1,646.968750,1,0
5986,2144862101,30NOV2017:00:00:00.000000,31DEC2017:00:00:00.000000,03DEC2017:00:00:00.000000,8,13,1.000,29.000000,19.000000,3,...,0.000000,0,0,0,0,0,0,0.000000,1,1
5987,2144862751,30NOV2017:00:00:00.000000,31DEC2017:00:00:00.000000,03DEC2017:00:00:00.000000,2,3,2.000,7.000000,7.000000,7,...,9.000000,7,7,4,4,25,1,4159.605469,1,0
5988,2144862759,30NOV2017:00:00:00.000000,31DEC2017:00:00:00.000000,03DEC2017:00:00:00.000000,9,15,11.000,298.500000,225.500000,7,...,206.500000,7,7,7,3,46,45,1045.102539,1,0
5989,2144862873,30NOV2017:00:00:00.000000,31DEC2017:00:00:00.000000,03DEC2017:00:00:00.000000,9,11,8.000,62.000000,18.000000,7,...,166.000000,7,6,7,6,20,12,559.158203,1,0
5990,2144863156,30NOV2017:00:00:00.000000,31DEC2017:00:00:00.000000,03DEC2017:00:00:00.000000,2,0,0.000,0.000000,0.000000,0,...,0.000000,0,0,0,0,0,0,0.000000,1,1
5991,2144863908,30NOV2017:00:00:00.000000,31DEC2017:00:00:00.000000,03DEC2017:00:00:00.000000,17,25,5.000,160.000000,26.000000,4,...,0.000000,0,0,0,0,0,0,0.000000,1,0
5992,2144864090,30NOV2017:17:57:59.000000,31DEC2017:00:00:00.000000,03DEC2017:00:00:00.000000,3,1,0.000,8.000000,8.000000,0,...,1.500000,1,0,2,0,0,0,519.227539,1,0
5993,2144864405,30NOV2017:00:00:00.000000,31DEC2017:00:00:00.000000,03DEC2017:00:00:00.000000,4,3,0.909,3.000000,1.000000,0,...,0.500000,0,0,3,0,0,0,0.000000,1,0
5994,2144864563,30NOV2017:00:00:00.000000,31DEC2017:00:00:00.000000,03DEC2017:00:00:00.000000,1,0,0.000,0.000000,0.000000,7,...,0.000000,0,0,0,0,0,0,0.000000,1,1
5995,2144864917,30NOV2017:00:00:00.000000,31DEC2017:00:00:00.000000,03DEC2017:00:00:00.000000,17,23,3.000,77.000000,26.000000,7,...,4.000000,5,4,5,3,18,15,517.163086,1,1
5996,2144865248,30NOV2017:00:00:00.000000,31DEC2017:00:00:00.000000,03DEC2017:00:00:00.000000,1,0,0.000,0.000000,0.000000,0,...,0.000000,0,0,0,0,0,0,0.000000,1,1
5997,2144865318,30NOV2017:14:27:59.000000,31DEC2017:00:00:00.000000,03DEC2017:00:00:00.000000,1,0,0.000,0.000000,0.000000,0,...,29.000000,7,7,7,0,12,1,5892.248047,1,0
5998,2144865454,30NOV2017:00:00:00.000000,31DEC2017:00:00:00.000000,03DEC2017:00:00:00.000000,2,2,0.000,2.000000,0.000000,0,...,0.000000,5,0,6,0,0,0,28.867188,1,0
5999,2144865468,30NOV2017:00:00:00.000000,31DEC2017:00:00:00.000000,03DEC2017:00:00:00.000000,28,17,3.000,84.000000,36.000000,6,...,32.000000,0,2,4,2,2,1,0.000000,1,0

In [6]:

df= pd.read_csv("C:/Users/DELL/Desktop/churnForReal.csv", sep=';', encoding = "ISO-8859-1")
x = df[['nb_contacted_in_w1','mnt_recharge_w1','nb_days_used_data_w1','mou_out_onnet_w4','subscriber_id']]
y = df['Flag_inactivite']
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
logreg.fit(x,y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [23]:
df= pd.read_csv("C:/Users/DELL/Desktop/churnForReal.csv", sep=';', encoding = "ISO-8859-1")
df=df.drop(['subscriber_activation_date' ,'period_end','period_start' ],axis=1)
sub='subscriber_id'
yvar='Flag_inactivite'
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()

y=df[yvar]
y=np.ravel(y) 
x=df.drop([sub,yvar],axis=1)
logreg.fit(x, y)
pre=logreg.predict(x)
pre

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [27]:
subs='subscriber_id'

In [ ]:
########################################################################################################################
########################################################################################################################
########################################################################################################################
########################################################################################################################

In [ ]:
x = churn[['nb_contacted_in_w1','mnt_recharge_w1','nb_days_used_data_w1','mou_out_onnet_w4']]
y = churn['Flag_inactivite']
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
logreg.fit(x,y)

In [15]:
import pickle
from  sklearn.linear_model import LinearRegression
lin_reg = LinearRegression()

with open("python_lin_reg_model.pkl", "wb") as file_handler:
    pickle.dump(lin_reg, file_handler)
    
with open("python_lin_reg_model.pkl", "rb") as file_handler:
    loaded_pickle = pickle.load(file_handler)
loaded_pickle

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [67]:
app = dash.Dash()
app.layout = html.Div(children=[
    html.H1(children='Simple Linear Regression', style={'textAlign': 'center'}),

    html.Div(children=[
        html.Label('Enter years of experience: '),
    ], style={'textAlign': 'center'}),
    #dcc.Input(id='years-of-experience', placeholder='Years of experience', type='text'),
    #dcc.Input(id='val2', placeholder='val2', type='text'),
    html.Div(id='result')    
])

@app.callback(
    Output(component_id='result', component_property='children'),)
    #[Input(component_id='years-of-experience', component_property='value'),
    #Input(component_id='val2', component_property='value')])
def update_years_of_experience_input(years_of_experience, val2):
    if years_of_experience is not None and years_of_experience is not '' and val2 is not None and val2 is not '':
        try:
            model_score_logreg =logreg.score(X, y)
            return 'You\'ve entered "{}"'.format(model_score_logreg)
        except ValueError:
            return 'Unable to give years of experience'

if __name__ == '__main__':
    model = joblib.load("./python_lin_reg_model.pkl")
    app.run_server(debug=False)

 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)
127.0.0.1 - - [08/May/2018 10:46:43] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [08/May/2018 10:46:43] "GET /_dash-component-suites/dash_renderer/react@15.4.2.min.js?v=0.12.1 HTTP/1.1" 200 -
127.0.0.1 - - [08/May/2018 10:46:43] "GET /_dash-component-suites/dash_renderer/react-dom@15.4.2.min.js?v=0.12.1 HTTP/1.1" 200 -
127.0.0.1 - - [08/May/2018 10:46:43] "GET /_dash-component-suites/dash_html_components/bundle.js?v=0.10.0 HTTP/1.1" 200 -
127.0.0.1 - - [08/May/2018 10:46:43] "GET /_dash-component-suites/dash_renderer/bundle.js?v=0.12.1 HTTP/1.1" 200 -
127.0.0.1 - - [08/May/2018 10:46:44] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [08/May/2018 10:46:44] "GET /_dash-dependencies HTTP/1.1" 200 -